<!-- Large header with a background color -->
<h2 class="chart-header">
  Medals per Country
</h2>

<!-- Stats boxes container -->
<div class="stats-container">
  <app-stat-box title="Number of JOs" [value]="numberOfJOs"></app-stat-box>
  <app-stat-box title="Number of countries" [value]="numberOfCountries"></app-stat-box>
</div>

<!-- Pie chart container -->
<div class="chart-container"> 
  <ngx-charts-pie-chart
    [view]="[700, 400]"
    [results]="chartData"
    [legend]="false"
    legendTitle="Countries"
    [labels]="true"
    [doughnut]="false" 
    [gradient]="true"
    [tooltipDisabled]="false"
    (select)="onSelect($event)"
  >
  </ngx-charts-pie-chart>
</div>
