<div class="country-details-container" *ngIf="olympic$ | async as olympic; else loading">
  <!-- Country name header -->
  <div class="country-header">
    <h2>{{ countryName }}</h2>
  </div>

  <!-- Stats boxes container -->
  <div class="stats-container">
    <app-stat-box title="Number of entries" [value]="numberOfEntries"></app-stat-box>
    <app-stat-box title="Total number medals" [value]="totalMedals"></app-stat-box>
    <app-stat-box title="Total number of athletes" [value]="totalAthletes"></app-stat-box>
  </div>

  <!-- Line chart container -->
  <div class="chart-container">
    <div class="chart-wrapper">
      <ngx-charts-line-chart
        [view]="view"
        [results]="lineChartData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [autoScale]="true"
        [scheme]="colorScheme"
      >
      </ngx-charts-line-chart>
    </div>
  </div>

  <!-- Back button -->
  <div class="button-container">
    <button class="back-button" (click)="goBack()">Back</button>
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <p>Loading data...</p>
  </div>
</ng-template>
